

<div id="page-content-body" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
		<div class="row">
            <div class="col-lg-12">
                <input type="hidden" id="idhotelChain" class="own-form-control" />
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head without-padding">
                            <div class=" row col-md-12">
                                <div class="head-flex col-md-6 col-sm-6 col-6">
                                    <div class="kt-portlet__head-label paddingLeftTitle">
                                        <h3 class="kt-portlet__head-title">Provider</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2 col-2"></div>
                                <div class="button-flex col-md-1 col-sm-2 col-2">
                                    <button type="button" id="alerta-proveedor" class="btn-secondary btn-xsm" onclick="providerClose()"><i class="la la-long-arrow-left"></i></button>
                                </div>
                                <div class="button-flex col-md-1 col-sm-2 col-2">
                                    <button type="button" class="btn-secondary btn-xsm bg-color-button-gris" onclick=""><a><i class="la la-floppy-o"></i></a></button>
                                </div>
                            </div>
                        </div>
                        
                   
                        <div class="kt-portlet__body">
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Natural Person / Company:</label>
                                    <div class="kt-input-icon">
                                        <input type="name" id="company" class="own-form-control" placeholder="Enter Company">
                                    </div>
                                </div>
                            </div>		
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Trading Name:</label>
                                    <div class="kt-input-icon">
                                        <input type="name" id="tradingName" class="own-form-control" placeholder="Enter Trading name">
                                    </div>       
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Legal Name:</label>
                                    <div class="kt-input-icon">
                                        <input type="name" class="own-form-control" placeholder="Enter Legal Name">
                                    </div>    
                                </div>
                            </div>	 
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Registration / Document Type</label>
                                    <div class="kt-input-icon">
                                        <input type="text" id="docType" class="own-form-control" placeholder="Enter your Registration / Document Type">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Registration Number:</label>
                                    <div class="kt-input-icon">
                                        <input type="text" id="RegistNum" class="own-form-control" placeholder="Enter your Registration Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Address</label>
                                    <div class="kt-input-icon">
                                        <input type="text" id="address" class="own-form-control" placeholder="Enter your Address">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Country:</label>
                                    <div class="kt-input-icon">
                                        <input type="text" id="contry" class="own-form-control" placeholder="Enter your Country">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Phone</label>
                                    <div class="kt-input-icon">
                                        <input type="text" id="phone" class="own-form-control" placeholder="Enter your Phone">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label class="bg-color-gris">Hotel Chain:</label>
                                    <div class="kt-input-icon">
                                        <input type="text" id="hotelChain" class="own-form-control" placeholder="Enter your Hotel Chain">
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                    <!--end::Portlet-->
            </div>
        </div>
    </form>	
     <!--end::Form-->
</div>

    <script type="text/javascript">
        $(function () {

        });   
    </script>


    
    
    
    
