

<div id="page-content-body" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
		<div class="row">
            <div class="col-lg-12">
                <input type="hidden" id="idhotelChain" class="own-form-control" />
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head without-padding">
                            <div class=" row col-md-12">
                                <div class="head-flex col-md-6 col-sm-6 col-6">
                                    <div class="kt-portlet__head-label paddingLeftTitle">
                                        <h3 class="kt-portlet__head-title">Provider</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2 col-2"></div>
                                <div class="button-flex col-md-2 col-sm-2 col-2">
                                    <button type="button" class="btn btn-secondary fa-pull-right btn-new-provider">New provider</button>
                                </div>
                            </div>
                        </div>
                        
                   
                        <div class="kt-portlet__body">
                            <table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
</table>             
                        </div>
                    </div>
                    <!--end::Portlet-->
            </div>
        </div>
    </form>	
     <!--end::Form-->
</div>
<!--
<div class="row">
    <button type="button" class="btn btn-secondary fa-pull-right btn-new-provider">New provider</button>
</div>
-->
<!--
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Date</td>
    </tr>
</table>
-->



    <script type="text/javascript">
        $(function () {
            $(".btn-new-provider").on('click', function () {
                HELPER_POPUP(HTTP_GET, "Provider/Create");
            });
        });

        function providerClose() {
            HELPER_POPUP_CLOSE();
            alertify.set('notifier','position', 'top-center');
            alertify.notify('Ingresaste a Proveedor', 'success', 4, function(){  
                
            });
        }

        
    </script>
